<web-app>

  <listener>
    <listener-class>org.thalemine.web.context.AppContextListener</listener-class>
  </listener>


<!-- ================================================================================= -->
<!-- Intermine Web Service mapping -->
<!-- ================================================================================= -->



  <!--@PLUGIN_INCLUDE@-->

  <!-- Initializing Filter -->
  <filter>
    <filter-name>contextInitializer</filter-name>
    <filter-class>org.thalemine.web.context.ContextLoaderInitializer</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>contextInitializer</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- end Initializing Filter -->


</web-app>
